{% extends "base.html" %}
{% load floppyforms i18n %}
{% block content %}
<div class="container">
  <div class="row">
      {% with user_type=form.user_type.value %}
      <h3 class="text-center"> {% blocktrans %} Signing up as a {{ user_type }} {% endblocktrans %}</h3>
      {% endwith %}
    <div class="col-md-offset-4 col-md-4 text-center">
      <form method="post">
        {% csrf_token %}
        {% form form using "floppyforms/layouts/bootstrap.html" %}
        <input class="btn btn-lg btn-primary btn-wide-full" type="submit" value="{% trans "Sign Up" %}" />
      </form>
    </div>
  </div>
</div>
{% endblock content %}
