{% extends "base.html" %}
{% load floppyforms i18n %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3 class="text-center"> {% trans "Teacher 2 Student" %} </h3>
      <div class="col-md-offset-4 col-md-4 text-center">
        <form method="post">
          {% csrf_token %}
          {% form form using "floppyforms/layouts/bootstrap_no_label.html" %}
          <input class="btn btn-lg btn-primary btn-wide-full text-center" type="submit" value="{% trans "Sign in" %}" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
