{% extends "base_with_navigation.html" %}
{% load floppyforms i18n %}
{% block content %}

<div class="container">
    <div class="col-md-8">
      <h3> {% trans "Published homeworks" %} </h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Due Date" %}</th>
            <th>{% trans "Students" %}</th>
            <th>{% trans "Action" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for homework in homework_list %}
          <tr>
            <td><a href="{% url 'homework:update' homework.id %}"> {{ homework.title }} </a></td>
            <td>{{ homework.due_date }}</td>
            <td>{{ homework.student.count }}</td>
            <td>
              <a class="btn btn-md btn-info" href="{% url 'homework:update' homework.id %}">{% trans "Update" %}</a>
              <a class="btn btn-md btn-success" href="{% url 'homework:assign_student_list' homework.id %}">{% trans "Assign" %}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
</div>
{% endblock %}
